<!DOCTYPE html>
<html>
<head>
    <title>Список покупателей</title>
    <link th:replace="parts/bootstrap"></div>
</head>
<body style="background-color: lightsteelblue">
<div th:insert="parts/navigation"></div><br>
<div style="text-align: center;">
    <form th:action="@{/admin/page}">
        <button class="btn btn-primary btn-lg btn-block">Главная страница администратора</button>
    </form>
</div>
<br>
<div style="align-items: center">
    <p>Покупатели:</p>
</div>
<table class="table table-hover">
    <tr>
        <th scope="col">Логин</th>
        <th scope="col">Пароль</th>
        <th scope="col">Удалить</th>
    </tr>

    <tr th:each="user: ${page.content}">
        <td th:text="${user.username}" />
        <td th:text="${user.password}" />
        <td><a th:href="@{/user/delete/{id}(id=${user.id})}">
            <i class="fa fa-trash"></i></a>
        </td>
    </tr>
</table>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="pagination-div pagination">
    <span th:if="${page.hasPrevious()}" class="page-item">
        <a th:href="@{/list/users(page=${page.number-1},size=${page.size})}" class="page-link">Предыдущая</a>
    </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}" class="page-item">
                <span th:if="${page.number == i}" class="selected page-link">[[${i}+1]]</span>
                <span th:unless="${page.number == i}" class="page-link">
             <a th:href="@{/list/users(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${page.hasNext()}" class="page-item">
        <a th:href="@{/list/users(page=${page.number+1},size=${page.size})}" class="page-link">Следующая</a>
    </span>
        </div>
    </div>
</div>
</body>
<div th:insert="parts/footer"></div>
</html>
