<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <div th:insert="parts/bootstrap"></div>
</head>
<body style="background-color: lightskyblue">
<div th:insert="parts/navigation"></div>
<br>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div style="text-align: center;">
        <h1>Добро пожаловать!</h1>
        <h3>Зарегистрируйтесь в системе!</h3>
    </div>
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" class="alert alert-danger col-4" role="alert"/>
        </ul>
    </div>
    <div class="container">
        <div class="container-class" style="margin-left: 20%">
            <div class="mb-3 col-8">
                <label for="login" class="form-label">Логин</label>
                <input th:field="*{username}" type="text" class="form-control" id="login" name="username"
                       aria-describedby="loginHelp">
                <p th:if="${#fields.hasErrors('username')}">Invalid login</p>
            </div>
            <div class="mb-3 col-8">
                <label for="pass" class="form-label">Пароль</label>
                <input th:field="*{password}" type="password" class="form-control" id="pass" name="password">
                <p th:if="${#fields.hasErrors('password')}">Invalid password</p>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    </div>
</form>
<div style="text-align: center;">
    <a th:href="@{/login}">Войти в систему</a>

</div>
</body>
<div th:insert="parts/footer"></div>
</html>