<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/customer/page}">Меню</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container" style="margin-left: 90%">
                <a th:href="@{/bucket}"><i style="color: white" class="fa fa-shopping-cart"
                                           aria-hidden="true"></i></a>
                <a th:href="@{/login}"><i style="color: white; margin-left: 30%; margin-right: 5%" class="fa fa-user-circle" aria-hidden="true"></i></a>
                <a th:href="@{/logout}"><i style="color: white" class="fa fa-sign-out"
                                           aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</nav>